[Desktop Entry]
Name=GTK Styles and Fonts
Comment=Control the style and fonts used by GTK applications
Exec=kcmshell4 kcmgtk4
Terminal=false
Icon=kcmgtk.png

Encoding=UTF-8
X-Keywords=kcmgtk,gtk,style,font,theme

Name[de]=GTK-Stile und Schriftarten
Comment[de]=Einstellung der Stile und Schriftarten in GTK-Anwendungen
Name[fr]=Styles et Polices GTK
Comment[fr]=Détermine le style et les polices utilisés par les applications GTK
Name[it]=Stili e caratteri GTK
Comment[it]=Configura stili e caratteri usati dalle applicazioni GTK
Name[tr]=GTK Stil ve Yazıtipleri
Comment[tr]=GTK uygulamalarının stil ve yazıtiplerini KDE görünümlü yapar
Name[ru]=Стили и шрифты GTK
Comment[ru]=Управление стилями и шрифтами GTK

Type=Service
X-KDE-ServiceTypes=KCModule
X-KDE-Library=kcm_gtk4
X-KDE-ParentApp=kcontrol
Categories=Settings;Qt;KDE;X-KDE-settings-looknfeel;
X-KDE-System-Settings-Parent-Category=appearance
