[Desktop Entry]
Name=GTK Styles and Fonts
Comment=Control the style and fonts used by GTK applications
Exec=kcmshell kcmgtk
Terminal=false
Icon=gnome_apps.png
OnlyShowIn=KDE;

Encoding=UTF-8
X-Keywords=kcmgtk,gtk,style,font
X-KDE-FactoryName=kcmgtk
X-KDE-Library=kcmgtk
X-KDE-ModuleType=Library

Name[de]=GTK-Stile und Schriftarten
Comment[de]=Einstellung der Stile und Schriftarten in GTK-Anwendungen
Name[fr]=Styles et Polices GTK
Comment[fr]=Détermine le style et les polices utilisés par les applications GTK

Type=Application
Categories=Settings;X-KDE-settings-looknfeel;

